<ion-header>
  <ion-toolbar>
 
<ion-title>Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col offset=1 size=10>
        <div style="position: relative">
        
          <ion-searchbar debounce=500  (ionInput)="searchPlants($event)"  [(ngModel)]="searchInput"  showCancelButton="focus" ></ion-searchbar>
          <div style="position: absolute; width: 100%; z-index: 999;">
            <ion-list lines="none"  *ngIf="searchInput.length > 1">
              <ion-item  *ngFor="let plant of plants | customFilter:searchInput"  (click)="showSearchResults(plant)">  
  
                <div >
                    <ion-icon name="leaf-outline"></ion-icon>
               
                {{plant.name}}
                </div>
              
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



<br>
<br>
 <ion-card  *ngIf="selectedPlant.name!=='none'">

  <ion-img [src]="selectedPlant.thumbnail_url"></ion-img>
    <ion-card-header>
      <ion-card-title>{{selectedPlant.name}}</ion-card-title>
      <ion-card-subtitle>Reap Days:{{selectedPlant.reapDays}}</ion-card-subtitle>
     
    </ion-card-header>
  
    <ion-card-content>
      {{selectedPlant.description}}
    </ion-card-content>
  </ion-card>


  <div  *ngIf="selectedPlant.name==='none'">
    <ion-icon name="search-outline"></ion-icon>
    <p> Search for any crops to get farming tips!</p> 
  </div>



</ion-content>
