

.button {
    display: block;
    background: white;
    
    color: black;
    height: 100px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 3px 6px 41px -6px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: all ease-in-out 200ms;
    text-decoration: none;
  }
  
  .button:hover {
    box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.2);
    transform: translate(20px, 0px);
  }

  ion-progress-bar{
      width: 80% !important;
  }
  
  #gardenContainer {
    margin-top: 40px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 30px;
  }

  #gardenContainer2 {
    margin-top: 10px;
    float: right;
    margin-right: 40px !important;
    margin-bottom: 90px;
    padding: 20px;
    border-radius: 30px;
    height: auto !important;
    padding-bottom: 20px !important;
  }