<ion-header collapse="condense" >
  <ion-toolbar style="margin-top: 50px;">
    <ion-title size="large">Plantit</ion-title>
  </ion-toolbar>
  <ion-toolbar style="margin-bottom: 0px;">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar >
</ion-header>

<ion-content>
  <ion-text style="margin-left: 40px;">
    <h1 style="margin-left: 20px;">Surplus</h1>
  </ion-text>
  <ion-row style="margin-bottom: 100px;">

    <ion-col>
      <ion-card>
        <ion-row>
          <ion-col size="2">

          </ion-col>
          <ion-col size="8">
            <img src="../../../assets/Images/tomato.png" height="100px" style="width: 100% !important; margin-top: 10px" />
          </ion-col>
          <ion-col size="2">
            
          </ion-col>
        </ion-row>
        <ion-card-header>
          <ion-card-subtitle>Joshua's Farm</ion-card-subtitle>
          <ion-card-title>Tomato</ion-card-title>
          <ion-text style="font-size: small;" >50 Units</ion-text>
          <ion-card-subtitle style="color: green;">Available</ion-card-subtitle>
          <ion-row style="font-size: 30px; margin-top: 10px;">
            <ion-col size="4">

            </ion-col>
            <ion-col size="4">
              <ion-icon name="card-outline" (click)="presentModal()"></ion-icon>
            </ion-col>
            <ion-col size="4">
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col>

      <ion-card>
        <ion-row>
          <ion-col size="2">

          </ion-col>
          <ion-col size="8">
            <img src="../../../assets/Images/cabbage.png" height="100px" style="width: 100% !important; margin-top: 10px" />
          </ion-col>
          <ion-col size="2">
            
          </ion-col>
        </ion-row>
        <ion-card-header>
          <ion-card-subtitle>Juleen's Farm</ion-card-subtitle>
          <ion-card-title>Cabbage</ion-card-title>
          <ion-text style="font-size: small;" >40 Units</ion-text>
          <ion-card-subtitle style="color: green;">Available</ion-card-subtitle>
          <ion-row style="font-size: 30px; margin-top: 10px;">
            <ion-col size="4">

            </ion-col>
            <ion-col size="4">
              <ion-icon name="card-outline" (click)="presentModal()"></ion-icon>
            </ion-col>
            <ion-col size="4">
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col>

      <ion-card>
        <ion-row>
          <ion-col size="2">

          </ion-col>
          <ion-col size="8">
            <img src="../../../assets/Images/carrot.png" height="100px" style="width: 100% !important; margin-top: 10px" />
          </ion-col>
          <ion-col size="2">
            
          </ion-col>
        </ion-row>
        <ion-card-header>
          <ion-card-subtitle>Odain's Farm</ion-card-subtitle>
          <ion-card-title>Carrot</ion-card-title>
          <ion-text style="font-size: small;" >60 Units</ion-text>
          <ion-card-subtitle style="color: green;">Available</ion-card-subtitle>
          <ion-row style="font-size: 30px; margin-top: 10px;">
            <ion-col size="4">

            </ion-col>
            <ion-col size="4">
              <ion-icon name="card-outline" (click)="presentModal()"></ion-icon>
            </ion-col>
            <ion-col size="4">
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col>

      <ion-card>
        <ion-row>
          <ion-col size="2">

          </ion-col>
          <ion-col size="8">
            <img src="../../../assets/Images/Okra.png" height="100px" style="width: 100% !important; margin-top: 10px;" />
          </ion-col>
          <ion-col size="2">
            
          </ion-col>
        </ion-row>
        <ion-card-header> 
          <ion-card-subtitle>Roshelle's Farm</ion-card-subtitle>
          <ion-card-title>Okra</ion-card-title>
          <ion-text style="font-size: small;" >20 Units</ion-text>
          <ion-card-subtitle style="color: #008000;">Available</ion-card-subtitle>
          <ion-row style="font-size: 30px; margin-top: 10px;">
            <ion-col size="4">

            </ion-col>
            <ion-col size="4">
              <ion-icon name="card-outline" (click)="presentModal()"></ion-icon>
            </ion-col>
            <ion-col size="4">
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
  


</ion-content>