
<ion-content>
    <ion-icon name="close-outline" style="float: right; margin-right: 20px; margin-top: 20px; font-size: 50px;" (click)="dismiss()"></ion-icon>
  
     
        <ion-card  class="ion-text-center" style="margin-top:90px;"  (click)="goToPaypal()">
          <img src=".../../../../assets/Images/tomato.png" />
          <ion-card-header>
            <ion-card-subtitle>Joshua's Farm</ion-card-subtitle>
            <ion-card-title>Tomato</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>  
   
      
</ion-content>
